header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
    font-family: 'Helvetica Neue';
    text-decoration: none;

}

#navbar-left {
    display:block;
    padding-left: 550px;
}

#navbar-right {
    padding-left: 100px;
    float: right;
}

header a {
    margin:20px;
}